
@function calcular-tamanio($px, $in) {
    @if $px == 0 {
      @error "No se pueden sumar 0 píxeles";
    }
    $in-px: $in * 96px; 
    @return $px + $in-px; 
  }
  
 
  @mixin generar-clase($numero) {
    $border: $numero * 1px; 
    $font-size: calcular-tamano($numero * 10px, 0.1in); 
    .caja#{$numero} {
      border: $border solid black;
      font: bold $font-size sans-serif;
    }
  }
  
  
  @for $i from 1 through 5 {
    @include generar-clase($i);
  }
  